<template>
  <!--View de la page d'Accueil-->

<v-container>

  <!--Carousel-->
  <v-flex class="ma-3">
              <v-carousel
              cycle hide-delimiter
              height="430" style="border-radius: 4px;">
                  <v-carousel-item
                  v-for="(slide, i) in slides"
                  :key=i
                  :src="slide.src"
                  reverse-transition="fade-transition"
                  transition="fade-transition"
                  >
                      <v-sheet
                      tile
                      align="center"
                      color="transparent" 
                      height="80%"
                      >
                          <v-row
                          align="center"
                          justify="center" class="fill-height"
                          >
                              <div class="white--text" style="font-family:sans-serif;">
                                  <h1
                                  style="margin-top:0.5rem;color: black;text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;"
                                  >
                                  {{slide.nom}}</h1>
                                  <br>
                                  <v-icon 
                                    dark
                                    size="60"
                                    :color="slide.couleur"
                                  >
                                  {{slide.icone}}
                                  </v-icon>
                              </div>
                          </v-row>
                      </v-sheet>
                  </v-carousel-item>
              </v-carousel>
          </v-flex>

</v-container>
</template>

<script>
export default {
  data() {
    return {
      slides: [
                {icone: 'fas fa-map-marked-alt', nom: 'Systèmes d\'Information Géographique', couleur:'white', texte: 'QGIS, ArcMap, ArcGIS Pro, City Engine', src: require("../assets/img/gis3.jpg")},
                {icone: 'fas fa-database', nom: 'Base de données relationelles', couleur:'white', texte: 'PostgreSQL/PostGIS pour le stockage et la gestion des données', src: require("../assets/img/sql.jpg")},
                {icone: 'fab fa-js-square', nom: 'Développement Web', couleur:'yellow', texte: 'Développement web, SIG web pour diffuser la donnée', src: require("../assets/img/js3.jpg")},
                {icone: 'fab fa-python', nom: 'Analyse de données', couleur:'white', texte: 'Web-scraping, traitements statistiques, traitements de l\'image', src: require("../assets/img/datascience2.jpg")},
              ]
    }
  }
}
</script>

<style>

</style>