<template>
  <!--View des Contributions Veille Carto-->
  
  <!--Sous titre mentionnant la source : Veille Carto-->
  <v-container>
    <v-container>
        <v-layout column align-start>
            <v-flex mt-10 ml-10>
              <h1 class="grey--text">Mes contributions pour Veille Carto</h1>
            </v-flex>
        </v-layout>
    </v-container>

    <!--Liste de mes articles-->
    <v-container grid-list-xl>
        <v-layout wrap>
            <v-flex xs12 md4 v-for="(article, index) in articles" :key="index">
                <v-card class="text-xs-center ma-3 pa-4">
                        <v-card-title style="word-break: normal;">
                            {{article.titre}}
                        </v-card-title>
                        <v-card-text>
                            <div class="grey--text">
                                <v-icon size="12px">fas fa-pencil-alt</v-icon>
                                Le {{article.date}} | 
                                <v-icon size="15px">far fa-clock</v-icon> 
                                {{article.temps}}
                            </div>
                        </v-card-text>
                    <v-img
                        height="250"
                        :src="article.img"
                        ></v-img>
                    <v-card-text>
                        <div>{{article.contenu}}</div>
                    </v-card-text>
                    <v-card-actions>
                      <a :href="article.url" target="_blank">
                        <v-btn dark flat color="blue accent-3">
                            <v-icon small left>fas fa-arrow-right</v-icon>
                            <span>Lire</span>
                        </v-btn>
                      </a>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>

  </v-container>
</template>

<script>
export default {
  data() {
        return {
            articles: [
                {
                    titre: 'Premiers pas sur Leaflet, partie IV : API et données attributaires',
                    url: 'https://veillecarto2-0.fr/2020/05/30/premiers-pas-sur-leaflet-partie-iv-api-et-donnees-attributaires/',
                    img: require("../assets/img/part4.png"),
                    date: '30 mai 2020',
                    temps: '4 minutes',
                    contenu: 'On poursuit notre série de tutoriels dédiés à Leaflet, avec une quatrième partie sur l\'affichage de données attributaires d\'un geoJSON à l\'aide de pop-ups. Si vous découvrez cette série, jetez un œil aux épisodes précédents...'
                },
                {
                    titre: 'Premiers pas sur Leaflet, partie III : afficher un geoJSON',
                    url: 'https://veillecarto2-0.fr/2020/05/18/premiers-pas-sur-leaflet-partie-iii-afficher-un-geojson/',
                    img: require("../assets/img/part3.png"),
                    date: '18 mai 2020',
                    temps: '4 minutes',
                    contenu: 'La source des données équipements sportifs de la ville de Cergy est disponible sur la plateforme Open-Data de la région Île-de-France. Ce n\'est pas obligatoire, mais je vous recommande de filtrer les données car la taille conséquente du fichier ralentira vos manipulations. Téléchargez les data au format geoJSON...'
                },
                {
                    titre: 'Premiers pas sur Leaflet, partie II : les marqueurs',
                    url: 'https://veillecarto2-0.fr/2020/05/11/premiers-pas-sur-leaflet-partie-ii-les-marqueurs/',
                    img: require("../assets/img/part2.png"),
                    date: '11 mai 2020',
                    temps: '5 minutes',
                    contenu: 'A la fin de notre premier tutoriel, nous avions généré notre fond de plan centré sur l\'université de Cergy-Paris. A présent on va enrichir la carte en y affichant des entités vectorielles. Mais comme promis la semaine dernière, on commencera d\'abord par...'
                },
                {
                    titre: 'Premiers pas sur Leaflet, partie I',
                    url: 'https://veillecarto2-0.fr/2020/05/04/premiers-pas-sur-leaflet-partie-i/',
                    img: require("../assets/img/part1.png"),
                    date: '4 mai 2020',
                    temps: '3 minutes',
                    contenu: 'En ces temps de confinement, c\'est l\'opportunité idéale de dépoussiérer les manuels et tuto de programmation que vous repoussiez depuis tant d\'années. Et pour un géomaticien, quoi de mieux que profiter de cette assignation à résidence pour faire ses premiers pas en SIG web avec Leaflet...'
                },
                {
                    titre: 'Stadia : des nouvelles de la fracture numérique',
                    url: 'https://veillecarto2-0.fr/2019/04/25/stadia-des-nouvelles-de-la-fracture-numerique/',
                    img: require("../assets/img/stadia.png"),
                    date: '25 avril 2019',
                    temps: '4 minutes',
                    contenu: 'Il y a plus d\'un mois, le vice-président de Google, Phil Harrison, annonçait à la Game Developers Conference son entrée dans le marché du jeu-vidéo. Sans console aucune (« the future of gaming is not a box« ), la Stadia propose à n\'importe quel joueur, quelque soit le support (smartphone, tablette, écran tv) un accès à ses serveurs sur lesquels sont stockés des catalogues de titres...'
                },
                {
                    titre: 'La chasse à la baleine : une discipline à géomatiser',
                    url: 'https://veillecarto2-0.fr/2018/10/01/la-chasse-a-la-baleine-une-discipline-a-geomatiser/',
                    img: require("../assets/img/whales.jpg"),
                    date: '1er octobre 2018',
                    temps: '5 minutes',
                    contenu: 'Elles sont l\'objet des traques les plus longues, recherchées pour leur chair onéreuse par les chasseurs les moins scrupuleux de la planète. Nous parlons bien-sûr des baleines ! Ces mammifères marins qui font depuis une décennie maintenant, les choux gras de l\'industrie du jeux vidéos...'
                },
                {
                    titre: 'Global Hip Hop : une cartographie du rap dans le monde',
                    url: 'https://veillecarto2-0.fr/2018/09/17/global-hip-hop-une-cartographie-du-rap-dans-le-monde/',
                    img: require("../assets/img/rap.jpg"),
                    date: '17 septembre 2018',
                    temps: 'Eternité...',
                    contenu: 'Fin juin 2018, deux infographistes français de GoumProd ont développé un globe interactif où archiver les artistes phares du hip hop et leurs hits selon leur provenance géographique et la date de sortie du morceau. Quelques clics vous font passer de la G-funk de Snoop Dogg et Dr.Dre au cloud rap de PNL en passant par les métropoles d\'Asie orientale et les instrumentales minimalistes new-yorkaises...'
                },
            ]
        }
    }


}
</script>

<style scoped>
.v-card__title {
    text-align: center;
}

.v-card__text {
    text-align: left;
}
</style>