<template>
  <!--View de l'Application COVID-19-->
  
  <v-container>

      <!--Sous-titre de la page-->
      <v-container>
          <v-layout column align-start>
              <v-flex mt-10 ml-10>
                <h1 class="grey--text">Appli COVID-19</h1>
                <span class="grey--text"><i>Source des données : <a href="https://www.data.gouv.fr/fr/reuses/coronavirusapi-france/" target="_blank">Datagouv</a>.</i></span>
              </v-flex>
          </v-layout>
      </v-container>

      <covidApp></covidApp>

  </v-container>
  
</template>

<script>
import covidApp from '@/components/covid/CovidApp'

export default {
  components: {
    covidApp,
  },
}
</script>

<style>

</style>