<template>
  <!--View de la page d'erreur-->
  
  <!--Sous-titre de la page-->
  <v-container>
      <v-layout column align-start>
          <v-flex mt-10 ml-10>
              <div class="block notFound">
                <h1 class="black--text"><i class="fas fa-exclamation-triangle red--text"></i> Page introuvable</h1>
                <p>La page que vous recherchez n'existe pas. Vous pouvez revenir à la page d'accueil.</p>
              </div>
          </v-flex>
      </v-layout>
  </v-container>
</template>

<script>
export default {

}
</script>

<style>

</style>