<template>
  <!--View de l'Application Météo-->

  <v-container>

    <!--Sous-titre de la page-->
    <v-container>
        <v-layout column align-start>
            <v-flex mt-10 ml-10>
              <h1 class="grey--text">Appli Météo</h1>
              <span class="grey--text"><i>Source des données : <a href="https://openweathermap.org/api" target="_blank">OpenWeatherMap</a>.</i></span>
            </v-flex>
        </v-layout>
    </v-container>

    <!--Appli météo-->
    <meteoApp></meteoApp>

  </v-container>
  
</template>

<script>
import meteoApp from '../components/meteo/MeteoApp'

export default {
  components: {
    meteoApp,
  }

}
</script>

<style>

</style>