<template>
        <v-container grid-list-xl>
                        <column-chart :data="[['Hospitalisées', this.$store.state.virus.depHospi], ['Réanimations', this.$store.state.virus.depRea], ['Nouvelles hospitalisations', this.$store.state.virus.depNewHospi], ['Nouvelles réanimations', this.$store.state.virus.depNewRea]]"                            
                                        height="425px"
                                        :library="chartOptions"
                                        >
                        </column-chart>
        </v-container>
</template>

<script>
export default {
    data() {
        return {
            chartOptions : {
                    layout: {
                        padding: {left: 10, right: 5, top: 5, bottom: 2}
                    },
            scales: {
                yAxes: [
                    {
                    scaleLabel: {
                      display: true,
                      labelString: "Nombre de personnes"
                    }
                  }
                ]}
            }
        }
    }
}
</script>

<style>

</style>
