<template>
<v-responsive
    max-height="600"
  >
    <v-lazy
        v-model="isActive"
        :options="{
          threshold: .5
        }"
        min-height="200"
        transition="fade-transition">
    <l-map 
      :center="[49.03898, 2.07501]" 
      :zoom="5" 
      style="height: 500px;" 
      :options="mapOptions">
      <l-control-layers position="bottomright"></l-control-layers>
      <l-tile-layer
        v-for="tileProvider in tileProviders"
        :key="tileProvider.name"
        :name="tileProvider.name"
        :visible="tileProvider.visible"
        :url="tileProvider.url"
        :attribution="tileProvider.attribution"
        layer-type="base"
      />
          <ChoroplethLayer
          :data="this.$store.state.virus.dataApi" 
          titleKey="nom" 
          idKey="code" 
          :value="valueCovid"
          geojsonIdKey="dep_code" 
          :geojson="frDepartGeojsonBis" 
          :colorScale="colorScale"
          :strokeColor="strokeColor"
          :currentStrokeColor="currentStrokeColor"
          :strokeWidth="strokeWidth"
          :currentStrokeWidth="currentStrokeWidth">
            <template slot-scope="props">
              <InfoControl 
                  :item="props.currentItem" 
                  :unit="props.unit" 
                  title="Département" 
                  placeholder="Sélectionnez un département"
                  position="bottomleft"/>
              <ReferenceChart 
                  title="Nombre de personnes décédées" 
                  :colorScale="colorScale" 
                  :min="props.min" 
                  :max="props.max" 
                  position="topright"/>
            </template>
          </ChoroplethLayer>
    </l-map>
</v-lazy>
</v-responsive>
</template>

<script>
import {LMap, LTileLayer, LPolygon, LGeoJson, LControlLayers} from 'vue2-leaflet'
import { InfoControl, ReferenceChart, ChoroplethLayer } from 'vue-choropleth'
import departementsFr from '@/data/france-departement.json'
import frDepartGeojsonBis from '@/data/france-departement-bis.json'


export default {
  components: { 
    LMap,
    LTileLayer,
    LControlLayers,
    LPolygon,
    LGeoJson,
    InfoControl, 
    ReferenceChart, 
    ChoroplethLayer 
  },
  data() {
    return {      
      departementsFr,
      frDepartGeojsonBis,
      colorScale: ["ffffff", "ff0000", "290101"],
      valueCovid: {
        key: "deces",
        metric: "nombre de décès"
      },
      mapOptions: {
        attributionControl: true
      },
      strokeColor: '7a7979',
      currentStrokeColor: '290101',
      strokeWidth: '1.5',
      currentStrokeWidth: '3',
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      tileProviders: [
        {
          name: 'OpenStreetMap',
          visible: true,
          attribution:
            '&copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors',
          url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        },
        {
          name: 'OpenTopoMap',
          visible: false,
          url: 'https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png',
          attribution:
            '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, <a href="http://viewfinderpanoramas.org">SRTM</a> | &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)',
        },
      ],
    }
  },
}
</script>

<style>
/*pour personnaliser les outils Leaflet et Vue-Choropleth*/
.leaflet-control-attribution {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  font-weight: 100;
  background-color: white;
  max-width: 220px !important;
  
}

.leaflet-right .leaflet-control {
  max-width: 180px;
}

.leaflet-left .leaflet-control {
  margin-bottom: 60px !important;
  max-width: 250px;
}

</style>
