<template>
    <v-container>
        <pie-chart height="300px"
            :discrete="false"
            :donut="true"
            :colors="['#008afb', '#FB0000']"
            :data="[['Guéris', this.$store.state.virus.depGueris], ['Décès', this.$store.state.virus.depDeces]]"
            title="Part des personnes décédées du COVID-19"
            >
            
        </pie-chart>
    </v-container>        
</template>

<script>
export default {

}
</script>

<style>

</style>
