<template>

  <v-container>

    <!--bouton de sélection-->
    <selectApp></selectApp>

    <!--Tableau de bord des principaux chiffres du COVID-19-->

    <!--première ligne-->
    <v-container grid-list-xl>
      <v-layout>
          <v-row v-show="this.$store.state.virus.loading">
              <!--nombre de décès et de guéris du COVID-19 par département-->
              <v-flex xs12 md8>
                  <v-card>
                  <decesGuerisApp></decesGuerisApp>
                  </v-card>
              </v-flex>
              <!--Carte du département sélectionné-->
              <v-flex xs12 md4>
                  <v-card>
                    <v-card-actions v-show="mapLoad" class="justify-center">
                      <v-btn 
                        dark flat color="blue accent-3"
                        v-on:click="loadingMap()"
                      >
                        <span>Afficher le département</span>
                      </v-btn>
                    </v-card-actions>
                    <component v-bind:is="component"></component>
                  </v-card>
              </v-flex>
        </v-row>
      </v-layout>
    </v-container>

    <br>

    <!--deuxième ligne-->
    <v-container grid-list-xl>
    <v-layout row wrap justify-space-around align-center>
        <v-row v-show="this.$store.state.virus.loading">
            <!--Graphique circulaire des guéris/décès du COVID-19-->
            <v-flex xs12 md4>
                <v-card height="370">
                <circleChartApp></circleChartApp>
                </v-card>
            </v-flex>
            <!--Chiffres des hospitalisations et réanimations par département-->
            <v-flex xs12 md8>
                <v-card height="370">
                <hospiReaApp></hospiReaApp>
                </v-card>
            </v-flex>
      </v-row>
    </v-layout>
    </v-container>

    <br>

    <!--troisième ligne-->
    <v-container grid-list-xl>
    <v-layout row wrap justify-space-around align-center>
        <v-row class="pt-4" v-show="this.$store.state.virus.loading">
            <!--Graphique linéaire de la progression des nombres de décès/guéris en France-->
            <v-flex xs12 md6>
                <v-card>
                <lineChartApp></lineChartApp>
                </v-card>
            </v-flex>
            <!--Graphiques en bâtons des hospitalisations et réanimations du département choisi-->
            <v-flex xs12 md6>
                <v-card>
                <barChartApp></barChartApp>
                </v-card>
            </v-flex>
      </v-row>
    </v-layout>
    </v-container>

    <br>

    <!--quatrième ligne-->
    <v-container grid-list-xl>
    <v-layout row wrap justify-space-around align-center>
        <v-row v-show="this.$store.state.virus.loading">
            <!--Choroplet Map de toute la France-->
            <v-flex xs12 md12>
                <v-card>
                <v-card-title style="word-break: normal;">
                  Carte du nombre de décès de la COVID-19 par département en France, le {{this.$store.state.virus.depDate}} à 20h00 (Ministère de la Santé).
                </v-card-title>
                <v-card-subtitle style="word-break: normal;">
                  Des départements les plus touchés (rouge) aux plus épargnés (blanc)
                </v-card-subtitle>
                <choroMapApp></choroMapApp>
                </v-card>
            </v-flex>
      </v-row>
    </v-layout>
    </v-container>

  </v-container>

</template>

<script>
import selectApp from './SelectTool'
import decesGuerisApp from './DecesGueris'
import mapDepApp from './MapDep'
import circleChartApp from './CircleChart'
import hospiReaApp from './HospiRea'
import lineChartApp from './LineChart'
import barChartApp from './BarChart'
import choroMapApp from './ChoroMap'
import mapDisplayApp from './MapDisplay.vue'

export default {
  components: {
    selectApp,
    decesGuerisApp,
    mapDepApp,
    circleChartApp,
    hospiReaApp,
    lineChartApp,
    barChartApp,
    choroMapApp,
    mapDisplayApp
  },
  data() {
    return {
      component: 'mapDisplayApp',
      mapLoad: true,
    }
  },
  methods: {
    loadingMap : function () {
      this.component = 'mapDepApp'
      this.mapLoad = !this.mapLoad
    }
  }
}


</script>

<style>
.v-card {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

</style>