<template>
  <v-container>
      <v-layout>
          <v-row>
              <v-flex xs12 md6>
                <v-card color="#ff0000" height="250">
                    <h4>Nombre de décès</h4>
                    <br>
                    <br>
                    <h1 style="font-size:100px;">{{this.$store.state.virus.depDeces}}</h1>
                </v-card>
            </v-flex>
            
            <v-flex xs12 md6>
                <v-card color="#008afb" height="250">
                    <h4>Nombre de guéris</h4>
                    <br>
                    <br>
                    <h1 style="font-size:100px;">{{this.$store.state.virus.depGueris}}</h1>
                </v-card>
            </v-flex>
          </v-row>
      </v-layout>
  </v-container>
</template>

<script>
export default {

}
</script>

<style>

</style>
