<template>
  <v-container >
      <v-layout>
          <v-row>
            <v-flex xs6 md6>
                <v-card d-inline-block mx-auto height="150">
                    <h5>Nombre d'hospitalisés</h5>
                    <br>
                    <h1 style=font-size:50px>{{this.$store.state.virus.depHospi}}</h1>
                </v-card>
            </v-flex>
            <v-flex xs6 md6>
                <v-card d-inline-block mx-auto height="150">
                    <h5>Nombre de réanimations</h5>
                    <br>
                    <h1 style=font-size:50px>{{this.$store.state.virus.depRea}}</h1>
                </v-card>
            </v-flex>
            <v-spacer></v-spacer>
            <v-flex xs6 md6>
                <v-card d-inline-block mx-auto height="150">
                    <h5>Nouvelles hospitalisations</h5>
                    <br>
                    <h1 style=font-size:50px>{{this.$store.state.virus.depNewHospi}}</h1>
                </v-card>
            </v-flex>
            <v-flex xs6 md6>
                <v-card d-inline-block mx-auto height="150">
                    <h5>Nouvelles réanimations</h5>
                    <br>
                    <h1 style=font-size:50px>{{this.$store.state.virus.depNewRea}}</h1>
                </v-card>
            </v-flex>
          </v-row>
      </v-layout>
  </v-container>
</template>

<script>
export default {

}
</script>

<style>

</style>
