<template>
        <v-container grid-list-xl>
            <v-row align="center">
                <v-col
                    class="d-flex"
                    cols="12"
                    sm="12"
                    >
                        <line-chart 
                                    :data="[
                                            {name: 'Guéries', data : this.$store.state.virus.chartLineGueris},
                                            {name: 'Décédées', data : this.$store.state.virus.chartLineDeces}
                                           ]"
                                    :colors="['#008afb', '#FB0000']"
                                    :discrete="false" 
                                    :dataset="{
                                                borderWidth: 2, 
                                                pointBackgroundColor: 'white',
                                                pointRadius:0,
                                                fill: false
                                                }"
                                    height="400px"
                                    :legend="true"
                                    style="text-align: center;"
                                    title="Nombre de personnes guéries et décédées du COVID-19 sur les 2 derniers mois"
                                    :library="chartOptions">
                        </line-chart>
                </v-col>
            </v-row>
        </v-container>
</template>

<script>
export default {
    data() {
        return {
            test : [
                    {name: 'Décès', data : this.$store.state.virus.chartLineDeces},
                    {name: 'Guéris', data : this.$store.state.virus.chartLineGueris}
                   ],
            chartOptions : {
                    layout: {
                        padding: {left: 0, right: 0, top: 5, bottom: 2}
                    },
            scales: {
                xAxes: [
                    {
                        type: "time",
                        scaleLabel: {
                            display: true,
                            labelString: "Date"
                        }
                    }
                ],
                yAxes: [
                    {
                    scaleLabel: {
                      display: true,
                      labelString: "Nombre de personnes"
                    }
                  }
                ]}
            }
        }
    }
}
</script>

<style>

</style>
