<template>
<v-responsive
    max-height="290"
  >
    <v-lazy
        v-model="isActive"
        min-height="200"
        transition="fade-transition">
            <LMap style="height: 280px;"
                :center="[49.03898, 2.07501]" 
                :zoom="5"
                :bounds="this.$store.state.virus.depCoord"
                :options="mapOptions">
                        <LTileLayer
                            :url="url"
                            :attribution="attribution"
                            
                        />
                        
                        <LPolygon :lat-lngs="this.$store.state.virus.depCoord"></LPolygon>
            </LMap>
    </v-lazy>
</v-responsive>
</template>

<script>
import { latLng } from "leaflet";
import { LMap, LTileLayer, LPolygon } from "vue2-leaflet";

export default {
    name: "map",
    components: {
        LMap,
        LTileLayer,
        LPolygon,
    },
    data() {
        return {
            isActive: false,
            url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            attribution:'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
            mapOptions: {
                attributionControl: true
            },
            test : [[ 48.81701092965555, 2.331898060637625 ],[ 48.816148134601306, 2.363328923996346 ],[ 48.82958956721988, 2.402237349716066 ],[ 48.82390004189599, 2.427958492642779 ],[ 48.81817682287283, 2.437328614686424 ],[ 48.81905977057768, 2.462696062752353 ],[ 48.836919472473234, 2.469573293706517 ],[ 48.8427305321657, 2.461793922353881 ],[ 48.84596434934236, 2.44075815339398 ],[ 48.84144924086321, 2.419538952900591 ],[ 48.84923378356546, 2.416341130298895 ],[ 48.872438026487984, 2.413646198880089 ],[ 48.885361950398725, 2.399251617609397 ],[ 48.89460619615223, 2.397667826349163 ],[ 48.90214759336665, 2.384530045616338 ],[ 48.900459782103866, 2.319887174744136 ],[ 48.88930157078857, 2.291147763745907 ],[ 48.87796832086615, 2.277487029813821 ],[ 48.88038726309937, 2.258467171114177 ],[ 48.86538030260198, 2.228377351113232 ],[ 48.853516917570474, 2.224219105880448 ],[ 48.84555514449767, 2.25051568878781 ],[ 48.83480954938314, 2.255144238417506 ],[ 48.832489952159186, 2.279051930653325 ],[ 48.81701092965555, 2.331898060637625 ]],
        }
    },
}
</script>

<style>

</style>
