<template>
  <v-container class="my-5">
    <v-layout column align-center>
      <select class="selectBtn" v-model="$store.state.virus.depCible" @change="getCovidData()">
        <option value="">sélectionnez un département</option>
        <option v-for="(data, index) in this.$store.state.virus.dataApi" :key="index" >{{data.nom}}</option>
      </select>
      <br>
      <br>
      <div class="panel">
        <div class="date" style="margin-top:15px">
          <h4>Données enregistrées le {{this.$store.state.virus.depDate}} à 20h00</h4>
        </div>
      </div>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  methods: {
    getDep : function() {
      this.$store.dispatch('getDep')
      },
    getCovidData: function() {
      this.$store.dispatch('getCovidData')
    }
  },
  created() {
    this.getDep();
  }
}
</script>

<style scoped>
.selectBtn {
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
    border: 3px solid #007cff;
    border-radius: 25px;
}
</style>
