<template>
  <v-container grid-list-xl>
    <v-row row d-flex nowrap align="center" justify="center" class="px-2">
    </v-row>
      <v-row row d-flex nowrap align="center" justify="center" class="px-2"> 
              <v-text-field
                      label="Choisissez une ville"
                      type="text"
                      prepend-icon="edit"
                      class="centered-input"
                      width="10px"
                      v-model="$store.state.meteo.ville"
                  >
              </v-text-field>
              <v-btn type="submit" color="primary" rounded @click="getTemps()">Chargez</v-btn>
      </v-row>
    <br>
    <br>
    <v-layout>
        <v-row v-show="this.$store.state.meteo.loading">
            <v-flex xs12 md8>
                <v-card>
                <tempApp></tempApp>
                </v-card>
            </v-flex>
            <v-flex xs12 md4>
                <v-card>
                <mapMeteoApp></mapMeteoApp>
                </v-card>
            </v-flex>
      </v-row>
    </v-layout>
    <br>
    <v-layout>
    <v-row v-show="this.$store.state.meteo.loading">
            <v-flex xs12 md6>
                <v-card>
                  <humidApp></humidApp>
                </v-card>
            </v-flex>
            <v-flex xs12 md6>
                <v-card>
                  <windApp></windApp>
                </v-card>
            </v-flex>
      </v-row>
      </v-layout>
  </v-container>
</template>

<script>
import mapMeteoApp from './MapMeteo'
import tempApp from './ChartTempMeteo'
import windApp from './ChartWindMeteo'
import humidApp from './ChartHumidMeteo'

export default {
  components: {
      mapMeteoApp,
      tempApp,
      windApp,
      humidApp,
  },
  name: 'App',
  methods: {
    getTemps : function() {
      this.$store.dispatch('getTemps')
      }
  }
}
</script>

<style>

</style>
