<template>

  <!--barre de navigation-->
  <nav>

      <!--toolbar et titre-->
      <v-toolbar 
        flat dark 
        height="60" class="blue accent-4"
      >
            <v-app-bar-nav-icon @click="drawer=!drawer"></v-app-bar-nav-icon>
            <v-layout column align-center>
                <v-toolbar-title class="font-weight-medium headline">DEV&SIG</v-toolbar-title>
            </v-layout>

      </v-toolbar>

      <!--sidebar-->
      <v-navigation-drawer 
        app dark 
        class="blue accent-4" 
        v-model="drawer"
      >
        <!--avatar personnalisé-->
          <v-layout column align-center>
              <v-flex mt-2 mb-2 pa-1>
                <v-row justify="space-around">
                    <v-avatar color="teal" size="48">
                        <span class="white--text headline">HB</span>
                    </v-avatar>
                </v-row>
              </v-flex>
          </v-layout>

          <!--liste des onglets-->
          <v-list>
              <v-list-item
                v-for="(lien, i) in liens"
                :key=i
                router :to="lien.route"
                active-class="border"
              >
                  <v-list-item-action>
                      <v-icon size="20px">{{lien.icone}}</v-icon>
                  </v-list-item-action>
                  <v-list-item-content>
                      <v-list-item-title class="ml-2 align-center">{{lien.titre}}</v-list-item-title>
                  </v-list-item-content>
              </v-list-item>
          </v-list>

          <!--carousel des technos-->
          <v-flex class="ma-3">
              <v-carousel
              cycle
              dark
              height="220" style="border-radius: 4px;"
              hide-delimiter-background show-arrows-on-hover>
                  <v-carousel-item
                  v-for="(slide, i) in slides"
                  :key=i
                  >
                      <v-sheet
                      tile
                      align="center"
                      color="white" height="80%"
                      >
                          <v-row
                          align="center"
                          justify="center" class="fill-height"
                          >
                              <div class="black--text">
                                  <h2 style="margin-top:0.5rem;">{{slide.nom}}</h2>
                                  <p class="ma-2">{{slide.texte}}</p>
                                  <v-icon 
                                    light 
                                    size="40"
                                    :color="slide.couleur"
                                  >
                                  {{slide.icone}}
                                  </v-icon>
                              </div>
                          </v-row>
                      </v-sheet>
                  </v-carousel-item>
              </v-carousel>
          </v-flex>
      </v-navigation-drawer>
  </nav>
</template>

<script>
export default {
    data() {
        return {
            drawer: true,
            liens: [
                {icone: 'fas fa-home', titre: 'Accueil', route: '/'},
                {icone: 'fas fa-cloud-sun', titre: 'Appli Météo', route: '/meteo'},
                {icone: 'fas fa-bacterium', titre: ' Appli COVID-19', route: '/covid'},
                {icone: 'fas fa-map-marked-alt', titre: 'Contributions', route: '/contrib'},
            ],
            slides: [
                {icone: 'fab fa-vuejs', nom: 'Vue JS', couleur:'green darken-4', texte: 'Framework Javascript'},
                {icone: 'fas fa-store', nom: 'Vuex', couleur:'light-blue', texte: 'Gestionnaire d\'états'},
                {icone: 'fas fa-leaf', nom: 'Vue2leaflet', couleur:'light-green', texte: 'Librairie Leaflet pour Vue'},
                {icone: 'far fa-chart-bar', nom: 'VueChartkick', couleur:'red', texte: 'Librairie de graphiques'},
            ]
        }
    }

}
</script>

<style>
.border{
    border-left: 4px solid black
}
</style>