<template>
  <v-app>
    
    <!--template du header (navbar, toolbar)-->
    <headerApp></headerApp>

    <!--les contenus-->
    <v-main>
      <router-view/>
    </v-main>

    <!--template du footer-->
    <footerApp></footerApp>
    
  </v-app>
</template>

<script>
import headerApp from "./components/commons/Header"
import footerApp from "./components/commons/Footer"

export default {
  name: 'App',
  components: {
    headerApp,
    footerApp
  },
}
</script>

<style>
/*pr cadrer les tilesLayers dans la div*/
@import "../node_modules/leaflet/dist/leaflet.css";
</style>
